* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #3a3a3a;

}

body {
    margin: 0;
    height: 100%;
    background-color: whitesmoke;
}

.navbar-brand .fa {
    color: #fff;
}

.list-group ul {
    
    margin-bottom: 0;
}